.card {
  margin: 0.25rem;
}
.applicationbody {
  padding: 1.25em;
}
.searchform {
  margin-bottom: 0.75rem;
  border-radius: 0.25rem;
  border: 1pxsolidrgba (0, 0, 0, 0.25);
  padding: 1.25rem;
}
.price::placeholder {
  text-align: right;
}
em {
  color: red;
}
